<div><h1>Uplifting Joy Pet Adoption</h1>
<a href="/pet/add">Add New Pet</a>
</div>
</br>

<div class="card">
  {{#each petList}}
    <img src="{{imgUrl}}" alt="{{breed}}" style="width:25%" />
    <div class="container">
      <h4><b>{{name}}</b></h4>
      <a href="/pet/{{petId}}">View Details</a>
      <a href="/pet/edit/{{petId}}">Edit Details</a>
      <form action="/pet/delete/{{petId}}" method="POST">
        <button type="submit">Delete Item</button>
      </form>
    </div>
    </br>
  {{/each}}
</div>

